body {
    background-color: rgb(129, 129, 107);
}

h1{
    text-align: center;
    color: aliceblue;
}
h2{text-align: center;}

a{
    color: azure;
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
   
    width: 500px;
}

footer{
    text-align: center;
}
p{
    text-align: center;
}